<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">Library</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <ul class="navbar-nav"
                th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
                <li class="nav-item pull-sm-0">
                    <span th:case="${false}">
                            <a class="nav-link btn btn-outline-primary" href="/login">Log in</a>
                    </span>
                    <span th:case="${true}">
                        <form th:action="@{/logout}" method="post">
                            <input class="btn btn-outline-primary" type="submit" value="Log out"/>
                        </form>
                    </span>
                </li>
            </ul>
        </nav>
        <div sec:authorize="isAuthenticated" class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="nav-link btn btn-outline-primary" href="/library/author">Author</a>
            <a sec:authorize="hasAuthority('EDITOR')"class="nav-link btn btn-outline-primary" href="/library/user">User</a>
            <a class="nav-link btn btn-outline-primary" href="/library/book">Book</a>
        </div>
    </div>
</div>